.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #FFF;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0, .8);
    gap: 1.2rem;
}

.spinner {
    color: rgb(229, 231, 235);
    height: 50px;
    width: 50px;
    fill: #1c64f2;
}

.animation-spin {
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}